.homeCen_left li:nth-child(3) a{
    background: url("../img/homeIcon3_hover.png") no-repeat 40px center;
}
.baseHead{
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
}
.baseHead ul{
    margin-left: 36px;
}
.baseHead li{
    width: 100px;
    height: 60px;
    float: left;
}
.baseHead li a{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 60px;
}
.baseHead li a.on{
    border-bottom: 2px solid #e43e20;
}
.myWrite_con{
    width: 860px;
    height: 420px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 60px;
}
.writeHead{
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
   border-bottom: 1px solid #e8e8e8;
    border-radius: 5px 5px 0 0;
}
.writeHead > div{
    float: left;
    line-height: 40px;
    text-align: center;
}
.writeHead1{
    width: 370px;
}
.writeHead2{
    width: 140px;
}
.writeHead3{
    width: 190px;
}
.writeHead4{
    width: 160px;
}
.writeFoot{
    width: 100%;
    height: 36px;
    border-bottom: 1px dashed #e8e8e8;
}
.writeFoot > div{
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
    color: #666;
}
.writeFoot a{
    color: #666;
}
.writeFoot1{
    width: 370px;
}
.writeFoot2{
    width: 140px;
}
.writeFoot3{
    width: 190px;
}
.writeFoot4{
    width: 160px;
}
.indexFooter{
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 14px;
}
.indexFooter_con{
    position: absolute;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #999;
    border-radius: 10px;
}
.indexFooter_con a{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    background-color: #fff;
    border-right: 1px dashed #cecece;
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 45px;
}
.indexFooter_con a:first-of-type{
    border-radius: 10px 0 0 10px;
}
.indexFooter_con a:last-of-type{
    border-radius: 0 10px 10px 0;
    border-right: none;
}
.indexFooter_con a.on {
    background-color: #e43e20;
    border-right: none;
    color: #fff;
}