.ltHead{
    width: 100%;
    height: 60px;
    background-color: #e43e20;
}
.ltHead_cen{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.headPic1{
    float: left;
    margin-top: 10px;
}
.headNav{
    float: left;
    margin-left: 40px;
}
.headNav li{
    float: left;
    font-size: 14px;
    line-height: 60px;
    margin-right: 20px;
}
.headNav li a{
    color: #fff;
}
.ltForm{
    width: 150px;
    height: 60px;
    float: right;
}
.headPic2{
    margin-top: 15px;
    float: left;
}
.ltForm ul{
    float: left;
    margin-left: 20px;
}
.ltForm ul li{
    float: left;
    line-height: 60px;
    font-size: 14px;
    margin-right: 20px;
}
.ltForm ul li a{
    color: #fff;
}
.lt_login{
    height: 60px;
    float: right;
    background: url("../img/loginMsg.png") no-repeat 0 center;
}
.lt_login ul{
    margin-left: 30px;
}
.lt_login li{
    float: left;
    line-height: 60px;
    font-size: 14px;
    margin-left: 20px;
    text-indent: 20px;
}
.lt_login li:first-of-type{
    background: url("../img/indexPerson.png") no-repeat 0 center;
}
.lt_login li:last-of-type{
    background: url("../img/indexTc.png") no-repeat 0 center;
}
.lt_login li a{
    color: #fff;
}
